<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>

<body>
  <div class="container">
      <nav id="header" ><center>
       <% if current_user %>
       <a href="/">Home</a> |
       <a href='/logout'>Logout</a> |

       Signed in as: <%= current_user.username %>
       <% else %>
     <form action="/login" method="post">  <a href="/">Home</a> | <a href="/register" > Register</a> | <input type="text" name="username" placeholder="Username"> | <input type="password" name="password" placeholder="Password"> <input type="submit" value="Login"></form>

       <% end %>
     </center></nav>
     <%= yield %>
  </div>
</html>
